
<%= stylesheet_link_tag 'top-style', media: 'all', 'data-turbolinks-track' => true %>


  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="container">

<!--ヘッダーに関する記述---------------------------------------------------------->
    <%= render 'layouts/header' %>
<!--ヘッダーに関する記述ここまで---------------------------------------------------->

<!--メインコンテンツに関する記述----------------------------------------------------->
      <main class="contents">

        <!--アキネーターに関する記述----------------------------------------------->
        <div class="akineta-wrapper">
        <div class="contents__inner akineta">
          <section>
            <h2>あなたに合った献立を提案いたします！</h2>
            <p class="button"><%= link_to '提案してもらう',"init"  %></p>
            <p class="charcter"><%= image_tag("/img/akineta/charcter.png", :alt => "キャラクター") %></p>
          </section>
        </div><!--/.akineta-->
        </div><!--/.akineta-wrapper-->

        <!--アキネーターに関する記述ここまで---------------------------------------->


        <!--季節に合ったレシピに関する記述(8個の献立を表示)-------------------------->
        <div class="contents__inner season-recipes">
          <section>
          <h1 class="midasi">今の季節にオススメの献立！</h1>
          <p class="text">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。</p>

          <div class="season-recipes__inner">
            <p><%= link_to image_tag("/img/top/season/sample.jpg", :alt => "料理の写真"),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.season-recipes__inner-->

          <div class="season-recipes__inner">
            <p><%= link_to image_tag("/img/top/season/sample.jpg", :alt => "料理の写真"),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.season-recipes__inner-->

          <div class="season-recipes__inner">
            <p><%= link_to image_tag("/img/top/season/sample.jpg", :alt => "料理の写真"),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.season-recipes__inner-->

          <div class="season-recipes__inner">
            <p><%= link_to image_tag("/img/top/season/sample.jpg", :alt => "料理の写真"),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.season-recipes__inner-->

          <div class="season-recipes__inner">
            <p><%= link_to image_tag("/img/top/season/sample.jpg", :alt => "料理の写真"),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.season-recipes__inner-->

          <div class="season-recipes__inner">
            <p><%= link_to image_tag("/img/top/season/sample.jpg", :alt => "料理の写真"),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.season-recipes__inner-->

          <div class="season-recipes__inner">
            <p><%= link_to image_tag("/img/top/season/sample.jpg", :alt => "料理の写真"),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.season-recipes__inner-->

          <div class="season-recipes__inner">
            <p><%= link_to image_tag("/img/top/season/sample.jpg", :alt => "料理の写真"),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.season-recipes__inner-->

          </section>
        </div><!--/.contents__inner season-resipes-->
        <!--季節に合ったレシピに関する記述ここまで----------------------------------->

        <!--会員登録を促す文章、ボタン--------------------------------------------->
        <div class="contents__inner member">

          <% if logged_in? %>
             <div class="member__inner">
              <section>
                <h1>会員機能を活用してください</h1>
                <p>楽Laクックでは、会員になるとお気に入り機能や、献立提案でアレルギーの設定をすることが出来るようになります。すべての会員機能を利用するにはマイページを利用してください。</p>
              </section>
            </div><!--/.member__inner-->

            <div class="member__inner button__inner">
              <p class="button orange"><%= link_to "マイページ", user_page_path(current_user) %></p>
            </div><!--/.member__inner-->

          <% else %>
            <div class="member__inner">
              <section>
                <h1>すべての機能を使うには</h1>
                <p>楽Laクックでは会員になるとお気に入り機能や、献立提案でアレルギーの設定をすることが出来るようになります。</p>
              </section>
            </div><!--/.member__inner-->

            <div class="member__inner button__inner">
              <p class="button orange"><%= link_to "ログイン", login_path %></p>
              <p class="button orange"><%= link_to "会員登録", signup_path %></p>
            </div><!--/.member__inner-->
          <% end %>



        </div><!--/.contents__inner member-->
        <!--会員登録を促す文章、ボタンここまで--------------------------------------->

        <!--人気のレシピに関する記述(8個の献立を表示)------------------------------->
        <div class="contents__inner popular-recipes">
          <section>
          <h1 class="midasi">楽Laクック人気の献立！</h1>
          <p class="text">ここにテキストが入ります。ここにテキストが入りますここにテキストが入りますここにテキストが入りますここにテキストが入りますここにテキストが入ります</p>


          <div class="popular-recipes__inner">
            <p><%= link_to image_tag('/img/top/popular/sample.jpg', :alt => '料理の写真'),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.popular-resipes__inner-->

          <div class="popular-recipes__inner">
            <p><%= link_to image_tag('/img/top/popular/sample.jpg', :alt => '料理の写真'),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.popular-resipes__inner-->

          <div class="popular-recipes__inner">
            <p><%= link_to image_tag('/img/top/popular/sample.jpg', :alt => '料理の写真'),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.popular-resipes__inner-->

          <div class="popular-recipes__inner">
            <p><%= link_to image_tag('/img/top/popular/sample.jpg', :alt => '料理の写真'),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.popular-resipes__inner-->

          <div class="popular-recipes__inner">
            <p><%= link_to image_tag('/img/top/popular/sample.jpg', :alt => '料理の写真'),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.popular-resipes__inner-->

          <div class="popular-recipes__inner">
            <p><%= link_to image_tag('/img/top/popular/sample.jpg', :alt => '料理の写真'),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.popular-resipes__inner-->

          <div class="popular-recipes__inner">
            <p><%= link_to image_tag('/img/top/popular/sample.jpg', :alt => '料理の写真'),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.popular-resipes__inner-->

          <div class="popular-recipes__inner">
            <p><%= link_to image_tag('/img/top/popular/sample.jpg', :alt => '料理の写真'),:action => "home" %></p>
            <p class="recipe-name">ここに料理名が入ります。</p>
          </div><!--/.popular-resipes__inner-->

          </section>
        </div><!--/.contents__inner popular-resipes-->
        <!--人気のレシピに関する記述ここまで---------------------------------------->

        <!--献立提案を促す文章、ボタン--------------------------------------------->
        <div class="contents__inner menu-suggestions">

          <div class="menu-suggestions__inner">
            <section>
              <h1>気に入った献立が見つからない...</h1>
              <p>気に入った献立が見つからない、そんなときは献立提案！あなたにぴったりの献立を見つけてくれるかも？</p>
            </section>
          </div><!--/.menu-suggestions__inner-->

          <div class="menu-suggestions__inner button__inner">
            <p class="button orange"><%= link_to '献立提案を受ける！',"init" %></p>
          </div><!--/.menu-suggestions__inner-->

        </div><!--/.contents__inner menu-suggestions-->
        <!--献立を促す文章、ボタンここまで------------------------------------------->

        <!--トップへ戻るボタン----------------------------------------------------->
        <!--リンクが繋がらないようになっていたのでそのまま---------------------------->
        <p><%= link_to "", "javascript:void(0)", :class => "top-button" %></p>
        <!--トップへ戻るボタンここまで----------------------------------------------->

      </main>
<!--メインコンテンツに関する記述ここまで---------------------------------------------->

<!--フッターに関する記述----------------------------------------------------------->
  <%= render 'layouts/footer' %>
<!--フッターここまで--------------------------------------------------------------->

</div><!--/.container-->

<hr>
<div>
<h1>献立表示テスト用</h1>
<p>質問は行わず、自分で献立を選択して表示する。</p>
<%= link_to "スタート" ,{:controller => "recipe_pages" ,:action => "test"},{:class => "button trial"} %>
deploy test 14.
</div>

<!--javascriptのファイルの読み込み等-->
<script>
$(document).ready(function(){
$('.bxslider').bxSlider({
  mode: 'fade',
  speed: 5000,
  randomStart: true,
  pager: false,
  controls: false,
  auto: true
});
});
</script>
<script type="text/javascript">
$(document).ready(function(){
if ($(window).width() > 420) {
$('.akineta').bgswitcher({
images: ['/img/top/slide/sample.jpg','/img/top/slide/sample2.jpg','/img/top/slide/sample3.jpg'],
interval: 5000
});
}
});
</script>
