<h1>パスワード再設定</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "パスワードを再設定する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render 'layouts/footer' %>
