<h1>主菜と副菜を選べ</h1>
<%= form_tag("dish",method: "get") do %>
  <div>
    <%= label_tag 'main','主菜' %>
    <%= select_tag "main", options_from_collection_for_select(@maindish.all, :id, :id) %>
  </div>
  <div>
    <%= label_tag 'sub1','副菜１'%>
    <%= select_tag "sub1", options_from_collection_for_select(@subdish.all, :id, :id) %>
  </div>
  <div>
    <%= label_tag 'sub2','副菜２'%>
    <%= select_tag "sub2", options_from_collection_for_select(@subdish.all, :id, :id) %>
  </div>

  <div>
    <%= submit_tag '送信' %>
  </div>
<% end %>
