<h1>確認</h1>

<%= form_for @user, :url => {:controller => "user_pages" } do |f| %>
    名前: <%= @user.name %>
    <%= f.hidden_field :name %>
    <br />
    メールアドレス: <%= @user.email %>
    <%= f.hidden_field :email %>
    <br />
    パスワード: <%= @user.password %>
    <%= f.hidden_field :password %>
    <br />
    <%= f.submit '戻る', name: "back" %>
    <br />
    <%= f.submit '登録'%>
<% end %>

<%= render 'layouts/footer' %>
