<div class="row">
  <%= @user = User.find(session[:user_id]) %>
  <h1> <%= @user.name %> </h1>
  <p>お気に入りに登録したレシピ</p>
  <% @user.dishes.each do |favdish| %>
    <br>
    <% r_link = 'http://www.rakulacook.com/recipe/' + favdish.id.to_s %>
    <%= link_to favdish.dishname, r_link %>
  <% end %>
  <br>
  <br>
  <%= link_to '設定', edit_user_page_path%>
  <p>Find me in app/views/user_pages/profile.html.erb</p>
  <%= render 'layouts/footer' %>
</div>
