<!-- アレルギー取得用 -->


<p>
  <input type="checkbox" name="product[allergie_ids][]" id="product_allergie_ids_1" value="えび">
  <label for="product_allergie_ids_1">えび</label>
  <input type="checkbox" name="product[allergie_ids][]" id="product_allergie_ids_2" value="カニ">
  <label for="product_allergie_ids_2">カニ</label>
  <input type="checkbox" name="product[allergie_ids][]" id="product_allergie_ids_3" value="小麦">
  <label for="product_allergie_ids_3">小麦</label>
</p>
