<h1><Center>今日の献立を考えます</Center></h1>
<!--
<p>Find me in app/views/manu_pages/menu.html.erb</p>

-->

<Center>
<%= form_tag('/question/menu_disp') do %>


<!-- 人数指定（最大10人) -->
  <h4>何人分の料理を作りますか？（最大10人まで）</h4>
  <p>
      <%= select_tag 'member[people]', options_for_select(
      {"１人" => "1", "２人" => "2","３人" => "3","４人" => "4","５人" => "5",
        "６人" => "6","７人" => "7","８人" => "8","９人" => "9","１０人" => "9"}) %>
  </p>

<!-- ジャンル選択 -->
<h4>主食のジャンルを選択してください</h4>
<!-- ジャンル選択リスト編 -->
<%= select_tag "genre", options_from_collection_for_select(@s_genre.all,:id,:jname) %>

<h4>使いたい食材・食べたい食材を１つ記入してください(無記入可)</h4>
<%= search_field(:user, :name) %>
<!-- 手間暇かけられるか -->
<h4>調理時間は余裕がありますか？</h4>
<p>
  <%= label_tag(:time_yes, "はい") %>
  <%= radio_button_tag(:time, "yes", {:checked => true}) %>
  <%= label_tag(:time_no, "いいえ") %>
  <%= radio_button_tag(:time, "no") %>
</p>

<h4>副菜の品数指定してください(0品から5品まで)</h4>
<p>
  <%= select_tag 'side_dish[item]', options_for_select(
  {"０品" => "0","１品" => "1", "２品" => "2","３品" => "3","４品" => "4","５品" => "5",}) %>
</p>
<br>




<!-- ラジオボタン未選択時にエラーメッセージを表示 -->
<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<!-- フォームボタンなど -->
<p>
  <%= submit_tag "献立出して", name: "check" %>
<% end %>
<%= link_to (button_tag "ホームへ戻る"),
 {:controller => "static_pages" ,:action => "home"},
 {:class => "btn"} %>
</p>

</Center>

<%= render 'layouts/footer' %>
