<div>
<%= label_tag 'main',@main.dishname %>
</div>
<div>
<%= image_tag(@main.image) %>
</div>
<div>
<% @link = "/recipe/" + @main.id.to_s %>
<%= link_to 'レシピ', @link %>
</div>
<hr>

<div>
<%= label_tag 'sub1',@sub1.dishname %>
</div>
<div>
<%= image_tag(@sub1.image) %>
</div>
<div>
<% @link = "/recipe/" + @sub1.id.to_s %>
<%= link_to 'レシピ', @link %>
</div>

<hr>

<div>
<%= label_tag 'sub2',@sub2.dishname %>
</div>
<div>
<%= image_tag(@sub2.image) %>
</div>
<div>
<% @link = "/recipe/" + @sub2.id.to_s %>
<%= link_to 'レシピ', @link %>
</div>
<hr>
